@import url("https://fonts.googleapis.com/css?family=Calligraffitti|Mali");
/* GENERAL STYLES */
:root {
  --mainYellow: #fdbe02;
  --mainWhite: #fff;
  --mainBlack: #071013;
  --mainGrey: #9b9999;
  --TransGrey: rgba(0, 0, 0, 0.1);
}
body {
  color: var(--mainBlack);
  background: var(--mainWhite);
  font-family: "Mali", cursive;
}
.text-slanted {
  font-family: "Calligraffitti", cursive;
}
